@import "./variables-resets";

@mixin flex {
  display: flex;
}

@mixin flex-column {
  @include flex;

  flex-direction: column;
}

.header {
  background-color: $red-color;
  height: 30%;
}

.nav-bar {
  @include flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  background-color: $dark-color;
}

.nav-left {
  @include flex;

  justify-content: space-between;
  align-items: center;
  padding-left: 6%;

  .home {
    color: $red-color;
  }
}

.logo-img {
  width: 10%;
}

.doe-img {
  width: 5%;
  height: auto;
}

.ad-btn {
  background-color: $red-color;
}

.nav-right {
  @include flex;

  justify-content: flex-end;
  align-items: center;
  margin-right: 6%;

  img {
    margin-left: 3%;
  }

  i {
    margin-right: 3%;
  }
}

.name {
  @include flex-column;

  align-items: center;
  justify-content: center;
  padding-top: 5%;
  color: white;
}

.input {
  @include flex;

  align-items: center;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 5%;

  input {
    height: 6vh;
    border-color: $red-color;
    border-width: 1px;
  }

  a {
    background-color: $dark-color;
    margin-left: 1%;
    height: 6vh;
    width: 8vw;
  }
}

.input1 {
  width: 13vw;
}

.input2 {
  width: 25vw;
}

.ad-section {
  width: 50%;
  margin: 2% auto;
}

.hot-deals {
  margin-left: 12%;
}

.ad {
  @include flex;

  align-items: center;
  justify-content: center;

  .fa-arrow-circle-left,
  .fa-arrow-circle-right {
    font-size: 30px;
    color: $red-color;
    margin-left: 4%;
    margin-right: 4%;
  }

  button {
    color: white;
  }
}

.ad-img {
  width: 100%;
}

.ad-details {
  margin-left: 3%;
}

.heading {
  @include flex;

  justify-content: space-between;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom-style: solid;
  border-bottom-color: $grey-color;
  border-width: 1px;
}

.cards-part {
  margin-top: 3%;
  margin-bottom: 5%;

  p {
    margin-left: 5%;
    margin-right: 5%;
  }

  .fa-chevron-left {
    margin-right: 3%;
    font-size: 20px;
  }

  .fa-chevron-right {
    font-size: 20px;
  }
}

.cards {
  @include flex-column;
  
  width: 17%;
  box-shadow: 0 4px 8px 0 $dark-color;
  transition: 0.3s;
  margin-right: 3%;
  margin-bottom: 2%;

  &:hover {
    box-shadow: 0 8px 16px 0 $dark-color;
  }
}

.car-price {
  margin-left: 3%;
  margin-right: 3%;
}

footer {
  width: 100%;
}

.ftr-left {
  width: 30%;
}

.ftr-right-head {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $red-color;
}

.ftr-content {
  width: 100%;
}

.ftr-right-1 {
  padding-right: 10%;
}

.copyright {
  padding-top: 3%;
  padding-bottom: 3%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ad-section {
    margin: 0;
    width: 100%;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    display: none;
  }

  .cards {
    margin-right: 1%;
  }
}

@media screen and (min-width: 450px) and (max-width: 768px) {
  .ad-section {
    margin: 0;
    width: 100%;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .ad-section {
    margin: 0;
    width: 100%;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    display: none;
  }

  .cards-part {
    margin-left: 5%;
  }
}
