@import './variables-resets';

@mixin flex {
    display: flex;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

.header {
    background-color: $red-color;
    height: 30%;
}

.nav-bar {
    @include flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    background-color: $dark-color;
}

.nav-left {
    @include flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    .home {
        color: $red-color;
    }
   
}

.logo-img {
    width: 10%;
}

.doe-img {
    width: 5%;
    height: auto;
}

.ad-btn {
    background-color: $red-color;
}

.nav-right {
    @include flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 6%;
    img {
        margin-left: 3%;
    }

    i {
        margin-right: 3%;
    }
}

.name {
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    color: white;
    
}

.input {
    @include flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 5%;

    input {
        height: 6vh;
        border-color: $red-color;
        border-width: 1px;
    }

    a {
        background-color: $dark-color;
        margin-left: 1%;
        height: 6vh;
        width: 8vw;
    }
}

.input1 {
    width: 13vw;
}

.input2 {
    width: 25vw;
}