@import "./main.scss";

.checkbox-1 {
  margin-bottom: 5%;
}

.search-par {
  padding-top: 3%;
  padding-bottom: 3%;
}

.search-items {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.results-img {
  margin-right: 3%;
}
